setuptools>=65.5.0
streamlit
selenium
PyPDF2
pandas
scikit-learn
spacy==3.6.0
thinc>=8.1.10
numpy>=1.24.0
pydantic>=2.0,<3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
