streamlit==1.41.1
selenium==4.9.1
PyPDF2==3.0.1
pandas==2.0.3
scikit-learn==1.2.0
spacy==3.5.0
thinc==8.1.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
